<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <ion-list id="rolls-summary-list">
          <ion-list-header>
            <ion-icon color="primary" [ios]="'aperture' + '-outline'" [md]="'aperture' + '-sharp'"></ion-icon>
            <ion-label>filmemo</ion-label>
          </ion-list-header>

          <ion-item routerDirection="root" [routerLink]="['/roll', 'new']" lines="none" detail="false" routerLinkActive="selected">
            <ion-icon slot="start" [ios]="'add-circle' + '-outline'" [md]="'add-circle' + '-sharp'"></ion-icon>
            <ion-label>Add roll</ion-label>
          </ion-item>

          <ion-menu-toggle auto-hide="false" *ngFor="let p of filmRolls; let i = index">
            <ion-item routerDirection="root" [routerLink]="['/roll', p.id]" lines="none" detail="false" routerLinkActive="selected">
              <ion-icon slot="start" [ios]="'camera' + '-outline'" [md]="'camera' + '-sharp'"></ion-icon>
              <ion-label>{{ p.name }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>

        <ion-item id="reset-data-store" lines="none">
          <ion-button (click)="resetDataStoreClicked($event)">
            [Debug] Reset data store
          </ion-button>
        </ion-item>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
